@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body {
    font-family: var(--default-font-family);
      letter-spacing: normal;
}
h1,
h2,
h3,
h4,
h5,
.h0,
.h1,
.h2,
.h3,
.h4,
.h5 {
  font-weight: var(--font-weight-bold);
  font-family: var(--default-font-family);
  letter-spacing: normal;
}
@media only screen and (min-width: 750px) {
     h1, .h1 {
        font-size: 30px;
    }
    .dashborad-overview-title  {
        font-size: 30px;
    }
    .max-w-md {
        max-width: 30%;
    }
    .grid {
        column-gap: 15px;
        row-gap: 15px;
    }
}
*:focus-visible {
    box-shadow: none;
    outline-offset: 0;
    outline-color: #615fff;
}
 input, select, optgroup, textarea {
    font-size: 14px;
}
select {
    min-height: 37px;
}
.w-64 {
    width: 256px;
}
.text-\[20px\] {
    font-size: 20px;
}
.text-lg {
    font-size: 18px;
}
.text-2xl {
    font-size: 24px;
}
.text-gray-900 {
    color: #101828;
}
.text-gray-400 {
    color: #99a1af;
}
.text-xs {
    font-size: 12px;
}
.text-sm {
    font-size: 14px;
}
.grid {
    display: grid;
    margin-bottom: 15px;
}
.gap-1 {
    gap: 4px;
}
.py-5 {
    padding-top: 20px;
    padding-bottom: 20px;
}
.p-2 {
    padding: 8px;
}
.p-3 {
    padding: 12px;
}
.p-4 {
    padding: 16px;
}
.p-5 {
    padding: 20px;
}
.p-6 {
    padding: 24px;
}
.pt-4 {
    padding-top: 16px;
}
.pb-4 {
    padding-bottom: 16px;
}
.pl-4 {
    padding-left: 16px;
}
.pr-4 {
    padding-right: 16px;
}
.px-5 {
    padding-left: 20px;
    padding-right: 20px;
}
.pb-5 {
    padding-bottom: 20px;
}
.pl-10 {
    padding-left: 40px;
}
.py-4 {
    padding-top: 16px;
    padding-bottom: 16px;
}
.py-5 {
    padding-top: 20px;
    padding-bottom: 20px;
}
.gap-3 {
    gap: 12px;
}
.gap-6 {
    gap: 24px;
}
.my-5 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.mt-5 {
    margin-top: 20px;
}
.mt-6 {
    margin-top: 24px;
}
.mb-3 {
    margin-bottom: 15px;
}
.space-y-3 {
    :where(& > :not(:last-child)) {
        --tw-space-y-reverse: 0;
        margin-block-start: 0;
        margin-block-end: 12px;
    }
}
.space-y-4 {
    :where(& > :not(:last-child)) {
        --tw-space-y-reverse: 0;
        margin-block-start: 0;
        margin-block-end: 15px;
    }
}
.template-page-b2b .page-width {
    max-width: 100%;
    padding: 0 5px;
}
.b2b-box {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #5866FF;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.b2b-box span {
  color: #ffffff;
  font-weight: 700;
  font-size: 1.125rem;
}
.w-10 {
    width: 40px;
}

.h-10 {
    height: 40px;
}
.left-3 {
    left: 12px;
}
.line-clamp-2 {
    display: -webkit-box;
  -webkit-line-clamp: 2; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.wl-product-img:empty ,
.wl-search-product-image:empty{
    display: inline-block;
    vertical-align: top;
}
/* Thin Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;    
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #CBD5E1; 
  border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #94A3B8; 
}

/* Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #CBD5E1 transparent;
}